* {
    box-sizing: border-box;
  }
  
  body,html{
      height: 100%;
      position: relative;
  }

  .main_container{
      height: 100%;
      width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
  }

  .cross_image{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
  }

  .failure_label{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

